
<footer id="footer" class="azuloscuro espaciomin">
	<div class="container">
		<div class="row">
		    
			<div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
				<nav>
				    <h3 class="volanta">Consultas Pymes</h3>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=12/" >Direccion Empresarial</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=13/" >Relaciones Laborales</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=16/" >Empresas Familiares</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=14/" >Recursos Humanos</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=15/" >Comunicacion y Marketing</a>

				</nav>

			</div>
		    
		    
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
				<nav>
				    <h3 class="volanta">Consultas Personales</h3>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=6/" >Derechos Personales</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=7/" >Derechos Familiares</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=8/" >Derechos Inmobiliarios</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=10/" >Derechos del Automotor</a>
					<a href="https://www.asesorpyme.servijus.com.ar/subcategoria.php?cat=11/" >Derechos Asociativos</a>

				</nav>
			</div>
			
			<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6">
				<nav>
				    <h3 class="volanta">Atencion al Cliente</h3>				    
					<a href="enviarconsulta.php" >Urgencia legal</a>
					<a href="https://www.servijus.com.ar/preguntas-frecuentes-ap/" target="_blank">Preguntas Frecuentes</a>
					<a href="terminos.php" target="_blank">Terminos y Condiciones</a>
					<a href="politicas.php" target="_blank">Politica de Privacidad</a>
					<a href="https://qr.afip.gob.ar/?qr=FLxmFfNtNc2nSebSYiq1kA,," target="_F960AFIPInfo">Data Fiscal</a>
				</nav>
			</div>
			
			<div class="col-xl-3 col-lg-2 col-md-12 col-sm-12 col-12">
				<nav class="rrss">
				    <h3 class="volanta">Nuestras Redes</h3>
					<a href="https://wa.me/5492646200063" target="-blank"><img src="_img/icono-whatsapps.png" alt="" width="18"/><span>Whatsapp</span></a>
					<a href="https://www.facebook.com/servijusonline/" target="_blank"><img src="_img/icono-facebook.png" alt="" width="18"/><span>Facebook</span></a>
					<a href="https://www.instagram.com/servijusonline/" target="_blank"><img src="_img/icono-instagram.png" alt="" width="18"/><span>Instagram</span></a>
    				<a href="https://twitter.com/servijusonline" target="_blank"><img src="_img/icono-twitter.png" alt="" width="18"/><span>Twitter</span></a>
					<a href="https://www.linkedin.com/company/servijusonline/" target="_blank"><img src="_img/icono-linkedin.png" alt="" width="18"/><span>LinkedIn</span></a>

				</nav>
			</div>
			
			
		</div>
        <div class="row">
			<div class="text-center col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<a href="https://www.servijus.com.ar/" class="d-block mt-5">
					<img src="_img/servijus-blanco.png" alt="Servijus" width="120"/>
				</a>
			</div>
		</div>
		</div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-82202113-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-82202113-2');
</script>

<!-- Optional JavaScript -->

<!--script src="_js/jquery-3.4.1.slim.min.js"></script-->
<script src="_js/popper.min.js"></script>
<script src="_bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
 
</body>
</html>