body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  /*text-align: left;*/
  background-color: #fff;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h2
{
  margin-right:auto;
    margin-left:auto;
    width: 80%;
}

.center{
   text-align: center;
}

p
{
  text-align: justify;
}

img
  { 
     padding:20px;
     margin:20px;
  }

.filauno {
     background-color: #46CCEA; 
}

