/**************************************************************************************
Defaults 
***************************************************************************************/
html {
	overflow-x:hidden;
	-webkit-font-smoothing: antialiased;
}
body {
	background:#f9f9f9;
	overflow-x:hidden;
	
	color:#444953;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}

a, button	{
	cursor:pointer;
	/*text-decoration:none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;*/
}
a:hover, a:focus, button:focus{
	text-decoration: none;
	outline:none;
}
a:hover{
	text-decoration: none;
}
p, li{}
p{
	line-height:21px;
	display:block;
	margin: 0 0 15px 0;
}
p a{
    color: #2268ff;
}

hr{
	margin-bottom:30px;
	border-color:#ddd;
}

h1, h2, h3, h4, h5, h6{
	color:#033195;
	font-family: 'Frank Ruhl Libre', serif;
}
h2	{
	font-size: 36px;
}
h2 span{
	color:#2268ff;
}
.volanta{
	color:#5982db;
	font-family: 'Inter', sans-serif;
	font-size: 13px;
	font-weight: 600;
}
.titulo-sans{
	color:#012b35;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height:24px;
}

figure{
	margin:0 !important;
}

input, select.custom-select{
	font-size: 14px !important;
}

input.form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder,
textarea.form-control,
select.custom-select {
	color:#1c1c1c;
	text-shadow: 0;
	font-size: 13px;
}

button{
	border:none;
}

/**************************************************************************************
Bootstrap Overwrites
***************************************************************************************/


/**************************************************************************************
Custom Classes
***************************************************************************************/
.relativo{
	position: relative;
}

/* Start of "Micro clearfix" */
.cf { zoom: 1; }
.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
/* End of "Micro clearfix" */

.pr{
	position:relative;
}
.bl{
	display:block;
	width: 100%;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
.npl	{
	margin-top: 0 !important;
	margin-bottom: 15px !important;
    padding-left: 0 !important;
}
.npr	{
	margin-top: 0 !important;
	margin-bottom: 15px !important;
    padding-right: 0 !important;
}
.noleft	{
	padding-left: 0 !important;
}
.noright	{
	padding-right: 0 !important;
}
.no-vert{
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-bottom:0;
}

.espacio{
	padding:6rem 0;
}
.espacio-top{
	padding-top:6rem;
}
.espacio-bottom{
	padding-bottom:6rem;
}

.espaciomin{
	padding:4.5rem 0;
}

.full-height, .half-height{
	position: relative;
}
.col5{
	float: left;
	display:block;
	padding-right: 15px;
	padding-left: 15px;
	width: 20%;
}

.imgfull	{
	width: 100%;
	min-width: 100%;
	max-width: 100%;
}
.half{
	width: 50%;
}
.imgbordershadow	{
	box-shadow:0px 0px 40px 0px rgba(50, 50, 50, 0.2);
}
.nobo{
	border:none !important;
}
.border-top{
    border-top: 1px solid #eee;	
}

.limit{
	display:block;
	width: 100%;
	overflow:hidden;
}
.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.table-responsive-wrapper{
	display:block;
	width: 100%;
	overflow-x:none;
}

/**************************************************************************************
Servijus
***************************************************************************************/
.amarillo{
	background:#fff000;
}
.azul{
	background:#033195;
}
.azuloscuro{
	background:#0c1d44;
}
.blanco{
	background:#ffffff;
}
.gris{
	background:#f9f9f9;
}
.grisoscuro{
	background:#eee;
}
.negro{
	background:#20252f;
}
.verde{
	background:#00ffae;
}

.boton{
	display:inline-block;
	padding:0 25px;
	height: 40px;
	background:#fff000;
	border-radius:30px;
	color:#012b35;
	font-size: 13px;
	font-weight: 700;
	line-height:40px;
}
.boton:hover{
	background:#ffe400;
	color:#012b35;
}
.botonazul{
	background:#2268ff;
	color:#ffffff;
}
.botonazul:hover{
	background:#033195;
	color:#ffffff;
}

.redondel{
	position: absolute;
	top:-30px;
	left:50%;
	margin-left: -30px;
}

/**************************************************************************************
Nav
***************************************************************************************/
#nav{
	display:block;
	padding:20px;
	width: 100%;
	background:white;
	border-bottom:solid 1px #eee;
}
#nav .bg-light{
	background:white !important;
}

li.nav-item{
	margin:0 2rem 0 0;
}
a.nav-link,
a.dropdown-item{
	color:#033195 !important;
	font-size: 13px;
	font-weight: 600;
}

.input-busqueda{
	display:inline-block;
	width: 225px;
	height: 40px;
	padding:0 25px;
	
	background:#eff3fd url(../_img/lupa.png) no-repeat 15px 13px;
	background-size: 13px;
	border:none;
	border-radius:30px;
	
	
	font-size: 13px !important;
	font-weight: 600;
	line-height:40px;
	text-indent: 20px;
}
.input-busqueda:focus {
	outline:none;
	box-shadow: inset 0 0 0 4px #88b8ff;
	border-radius: 30px;
	color:black !important;
}

/**************************************************************************************
Footer
***************************************************************************************/
#footer nav a{
	display:block;
	color:white;
	font-size: 13px;
	font-weight: 600;
	line-height:48px;
}
#footer nav a:hover{
	color:#a0beff;
	text-decoration:underline;
}
#footer nav a img{
	display:inline-block;
	margin-right: 15px;
}

#cifras{
	position: relative;
}
#cifras h6{
	color:white;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 900;
	letter-spacing:-1px;
}
#cifras p{
	color:#7ea5fb;
	font-size: 12px;
	font-weight: 600;
	line-height:15px;
}

/**************************************************************************************
Home
***************************************************************************************/
.destacado{
	display:block;
	position: relative;
}
.destacado span{
	position: absolute;
	top:0;
	left:0;
	
	display:block;
	padding-top: 10rem;
	width: 100%;
	height: 100%;
	background:rgba(3,49,149,0.4);
	
	color:white;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
}
.destacado span a{
	display:block;
	color:white;
	font-family: 'Frank Ruhl Libre', serif;
	font-size: 60px;
}
.destacado span a:hover{
	text-decoration:underline;
}

.caja h4{
	color:#033195;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	font-size: 15px;
	line-height:20px;
}
.caja h4 a{
	color:#033195;
	font-family: 'Inter', sans-serif;
	font-weight: 800;
	font-size: 15px;
}
.caja h4 a:hover{
	text-decoration:underline;
}
.caja p{
	color:#5982db;
	font-size: 13px;
	font-weight: 600;
	line-height:18px;
}

.cajanegra h4{
	display:block;
	margin-bottom: 1.5rem;
	color:black;
	font-size: 18px;
	font-weight: 600;
}
.cajanegra p{
	color:#444953;
	font-size: 15px;
	font-weight: 400;
	line-height:21px;
}

.categoria{
	background:white;
	margin-bottom: 30px;
}
.categoria:hover{
	-webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
}
.categoria a.categoria-imagen{
	position: relative;
	display:block;
	width: 100%;
	height: 232px;
	overflow:hidden;
}
.categoria a.categoria-imagen span{
	display:none;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	background:rgba(0,15,255,0.8);
	text-align: center;
}
.categoria a.categoria-imagen span img{
	margin-top: 5rem;
}
.categoria a.categoria-imagen:hover span{
	display:block;
}

.categoria-texto{
	padding:2.5rem;
	background:white;
	text-align: center;
}

.subcategoria{
	position: relative;
	margin-bottom: 30px;
}
.subcategoria .subcategoria-tipo{
	position: absolute;
	top:155px;
	left:0;
	width: 100%;
	text-align: center;
}
.subcategoria figure{
	overflow:hidden;
	height: 170px;
}
.subcategoria div.subcategoria-texto{
	padding:2rem 1rem 1.5rem 1rem;
	background:white;
	border:solid 1px #dce3f4;
	border-top:none;
	text-align: center;
}

.pill{
	display:inline-block;
	padding:0 20px;
	height: 30px;
	border-radius:30px;
	font-size: 11px;
	font-weight: 600;
	line-height:30px;
	text-align: center;
}
.pillblanco{
	background:white;
	-webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	color:#2268ff;
}
.pillblanco:hover{
	background:#efefef;
}
.pillazul{
	background:#2268ff;
	color:white;
}
.pillazul:hover{
	background:#033195;
	color:white;
}
.pillverde{
	background:#00ffae;
	color:#012b35;
}
.pillverde:hover{
	background:#00ffcc;
	color:#012b35;
}

/**************************************************************************************
Consulta
***************************************************************************************/
.consulta-header{
	display:block;
	height: 600px;
	width: 100%;
	overflow:hidden;
}
.consulta-header img{
	margin-top: -12%;
}
.consulta-contenido h2,
.consulta-contenido h3,
.consulta-contenido h4{
	color:#20252f;
	font-family: 'Inter', sans-serif;
	font-size: 17px;
	font-weight: 600;
}
.consulta-contenido h3{
	font-size: 20px;
	line-height:28px;
}
.consulta-contenido h4{
	font-size: 15px;
}
.consulta-contenido ol{
	margin:0;
	padding:0 0 0 15px;
}
.consulta-contenido ol li{

	padding:0 0 15px 0;
}
.hrcorto{
	display:inline-block;
	margin:2rem 0;
	height: 3px;
	width: 160px;
	background:black;
	border:none;
}

.widget{
	position: relative;
	display:block;
	padding:50px 35px 20px 35px;
	background:white;
	border:solid 1px #eee;
}
.widgetazul{
	background:#033195;
	border:solid 1px #033195;
}
.widgetazul h5{
	display:block;
	margin:15px 0 30px 0;
	color:#22e2ff;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 700;
}
.widgetazul p{
	color:white;
}

.plan{
	padding:3rem 0;
	background:white;
	border:solid 1px #eee;
	text-align: center;
}
.plan:hover{
	-webkit-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.1);
}
.plan h4{
	display:inline-block;
	margin:0 0 30px 0;
	padding:0 0 25px 0;
	border-bottom:solid 5px #00c6ff;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	font-weight: 800;
}
.plan.plansemestral h4{
	border-bottom:solid 5px #ff9000;
}
.plan.plananual h4{
	border-bottom:solid 5px #fff000;
}
.plan h5{
	margin:0 0 30px 0;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 800;
}
.plan ul{
	margin:0;
	padding:0;
	color:#5982db;
	font-size: 13px;
	font-weight: 600;
	list-style:none;
}
.plan ul li{
	display:block;
	margin-bottom: 1.5rem;
}
.plan ul li span{
	color:#033195;
}
.comprar-consulta{
	margin-top: -24rem;
	border:solid 1px #ddd;
}

/*ayuda*/
.figtxt{
	position: relative;
	display:block;
	padding:3rem 0;
}
.figtxt div{
	position: absolute;
	top:15rem;
	left:4rem;
}
.figtxt h5{
	color:white;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height:27px;
}
.figtxt h6{
	display:block;
	margin-top: 1.5rem;
	color:white;
	font-family: 'Inter', sans-serif;
	font-size: 44px;
	font-weight: 900;
	letter-spacing:-2px;
}























