/* xl */
@media only screen and (min-width : 1200px) {}

/* lg */
@media only screen and (max-width : 1199px) {
	
	li.nav-item{
		margin:0 1rem 0 0;
	}
	.input-busqueda{
		width: 200px;
	}
	.categoria a.categoria-imagen,
	.subcategoria figure{
		height: auto;
	}
	.subcategoria .subcategoria-tipo{
		position: absolute;
		top:124px;
		left:0;
		width: 100%;
		text-align: center;
	}
	.categoria a.categoria-imagen span img{
		margin-top: 3.5rem;
	}
	
	.ayudaimg .p-5{
		padding:2rem !important;
	}
	
}

/* md */
@media only screen and (max-width : 991px) {
	
	.dropdown-menu{
		margin-bottom: 2rem;
		border-color:#eee;
	}
	li.nav-item{
		margin:0;
		border-bottom:solid 1px #eee;
	}
	a.nav-link{
		padding:2rem 0;
	}
	.input-busqueda{
		width: 100%;
		margin:1.25rem 0 !important;
	}
	
	.destacado span{
		padding-top: 7rem;
	}
	.subcategoria .subcategoria-tipo{
		position: static;
		padding:1rem 0 0 1rem;
		border-right:solid 1px #dce3f4;
		border-left:solid 1px #dce3f4;
		text-align: left;
	}
	.subcategoria div.subcategoria-texto{
		padding:1rem 1rem 1rem 1rem;
		text-align: left;
	}
	.categoria a.categoria-imagen span img{
		margin-top: 2rem;
	}
	
	#footer nav a img{
		margin-right:0;
	}
	nav.rrss a{
		float: left;
		display:block;
		margin:2rem 0 3rem 0;
		width: 20%;
		text-align: center;
	}
	nav.rrss a img{
		margin:0 auto;
	}
	nav.rrss a span{
		display:block;
		text-align: center;
	}
	#footer .text-right{
		text-align: center !important;
	}
	
	.consulta-header{
		height: auto !important;
		overflow:visible;
	}
	.consulta-header img{
		margin-top: 0%;
	}
	.widget:first-child{
		margin-top: 90px;
	}
	
	.acceso .text-right{
		text-align: left !important;
	}
	.acceso .mt-5{
		margin-top: 0 !important;
	}
	
	
	
}

/* sm */ 
@media only screen and (max-width : 767px) {
	
	.espaciomin{
		padding:3rem 0;
	}
	#nav .input-busqueda{
		text-align: center;
	}
	#nav .boton{
		display:block;
		width: 100%;
		text-align: center;
	}
	#cifras{
		text-align: center;
	}
	.destacado span{
		padding-top: 3rem;
	}
	.destacado span a{
		font-size: 36px;
	}
	.categoria a.categoria-imagen span img{
		margin-top: 3rem;
	}
	.plan{
		margin-bottom:30px;
	}
	.comprar-consulta{
		margin-top: 3rem;
	}
	
	.categoria a.categoria-imagen span img{
		margin-top: 2.75rem;
	}
	.acceso img{
		margin-top: 3rem;
	}
	
	.ayuda.col5{
		display:block;
		width: 100%;
	}
	.ayuda.col5.text-center{
		text-align: left !important;
	}
	.ayuda.col5 img{
		width: 50% !important;
		float: left;
	}
	.ayuda.col5 div{
		width: 50% !important;
		float: left;
	}
	.ayuda.col5 h4{
		margin-top: 2.25rem;
	}
	
	.figtxt div{
		position: static;
		text-align: center;
	}
	.figtxt h5{
		margin-top: 1.5rem;
		color:black;
		font-size: 18px;
		line-height:27px;
	}
	.figtxt h6{
		margin-top: 1.5rem;
		color:black;
		font-size: 36px;
		font-weight: 900;
		letter-spacing:-2px;
	}
	
	
}

/* xs */ 
@media only screen and (max-width : 575px) {
	
	.destacado span{
		padding-top: 2rem;
	}
	
}


























