#separador {
width: auto;
height:50px;
}
#registrarse{
   margin-top: 20px;
    text-align:center;
}
#logo{
    text-align: center;
    width: auto;
    height: auto;
}
.imagen{
    width: 150px;
    height: 100px;
}
/*h1,h3,h4,h5{
    text-align: center;
    font-weight: 600;
}*/
footer{
    background-color: #124489;
    color: white;;
    text-align: center;
    padding: 10px;
}
#sugeridos{
    font-size:18px;
    font-weight: 700;
    color: #124489;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline;
}
p{
    text-align: center;
}
p.#servicios{
    text-align: justify;
    color: black;
}
div.img.panoramica{
    width: 90%;
    height: 90%;
    border: 1px solid gray;
    box-shadow: 3px 3px 3px solid gray;
}
panel panel-body.centrar{
    text-align: center;
}
div.centrar{
    text-align: center;
    
}
div#ingreso{
    margin:auto;
    padding: 60px;
    border: 1px solid gray;
    width: 320px;
    height: 340px;
    background-color: whitesmoke;
}
div#izquierda{
    text-align: left;
}
div#enlaces{
    text-align: left;
}
div#registro{
    margin:auto;
    padding: 60px;
    border: 1px solid gray;
    width: 320px;
    height: 400px;
    background-color: whitesmoke;
}
section#curriculum{
    color: #124489;
}
a{
    text-decoration: none;
}
.cuadros{
    border: 2px solid gray;
    box-shadow: 3px 3px 3px gray;
    width: 200px;
    height: 150px;
    margin: auto;
    padding: 5px;
    background-color: gainsboro;
}
button{
    border: 2px gray;
}
section#curriculum{
    text-align: left;
}


/****************************
footer
*****************************
#footer nav a{
	display:block;
	color:white;
	font-size: 13px;
	font-weight: 600;
	line-height:48px;
}
#footer nav a:hover{
	color:#a0beff;
	text-decoration:underline;
}
#footer nav a img{
	display:inline-block;
	margin-right: 15px;
}

#cifras{
	position: relative;
}
#cifras h6{
	color:white;
	font-family: 'Inter', sans-serif;
	font-size: 36px;
	font-weight: 900;
	letter-spacing:-1px;
}
#cifras p{
	color:#7ea5fb;
	font-size: 12px;
	font-weight: 600;
	line-height:15px;
}
